{% extends 'includes/header.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
<link rel="stylesheet" href="{% static 'account/css/form.css' %}" />
{% include 'includes/aside.html' %}

<div class="col-sm-6 body-container" >
    <h2> Welcome</h2>
    <div class="col-sm-12 subheader-heading">
        <div class="col-sm-6" style="position:relative;text-align:left">
            <i class="fa fa-user fa-2x" ></i>
            &nbsp;
            <span class="subheader-font-size" >Dashboard</span>
            <a href="{% url 'logout' %}" class="subheader-font-size" style="float:right"> Sign Out</a>
        </div>

    </div>
    <hr class="hr-style subheader-heading">

    <br>

</div>

{% include 'includes/footer.html' %}

{% endblock %}
