{% extends 'includes/header.html' %}
{% load static %}


{% block content %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" >
<link rel="stylesheet" href="{% static 'account/css/form.css' %}" />
{% include 'includes/aside.html' %}

<div class="col-sm-6 body-container">
    <h2> Account Login</h2>
    <div class="col-sm-12 subheader-heading">
        <div class="col-sm-6" style="position:relative;text-align:left">
            <i class="fas fa-user-friends fa-2x" ></i>
            &nbsp;
            <span class="subheader-font-size" >Login</span>
        </div>

    </div>
    <hr class="hr-style subheader-heading">

    <br>
    {% if status != 1 %}
    <div class="card-body">
        <br>
        <form method="POST">
            {% csrf_token %}

            <div class="input-container">
                <i class="fas fa-envelope icon"></i>
                <input type="text" class="form-control no-border" placeholder="Email" name="email" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
            </div>


            <div class="input-container">
                <i class="fa fa-key icon"></i>
                <input type="password" class="form-control no-border" placeholder="Password" name="password" required>

            </div>
            <div class="input-container">
                <input type="submit" value="Login" class="form-control" style="background-color:#631010;color:white;width:10%;margin-left:8%">
            </div>

        </form>
        <div class="">
            {% if status == 0 %}
            <b>{{ message }}</b>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a href="{% url 'register' %}" style="margin-right:20px;">Create Account</a>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="{% url 'forgot-password' %}">Forgot password</a>
        </div>
    </div>
    {% else %}

    <b> {{ message }}</b>
    {% endif %}
</div>
<br><br><br>
{% include 'includes/footer.html' %}

{% endblock %}
